<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body><h1><%= @player1.name %>, you has challenged!</h1>
    <p>
      The player <%= @player2.name %>, wanna see how good you are against his/her skills.<b />
      Are you good enought?
    </p>
  </body>
</html>