<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body><h1><%= @player1.name %>, tão te chamando para a xinxa!</h1>
    <p>
      <%= @player2.name %>, quer saber se você da conta do recado.
      E aí, se garante?
    </p>
  </body>
</html>
