<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Confirme seu resultado no CodePong, <%= @reciever.name %></h1>
    <p>
      Você <%= @result %> uma partida para <%= @sender.name %>
    </p>
    <p>
      Clique aqui para confirmar: <%= @url %>
    </p>
    <p>Obrigado por usar o CodePong. Tenha um bom dia!</p>
  </body>
</html>
