<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>Partida <%= @match.id %> foi denúnciada!</h1>
    <p>
      A partida entre <%= @player1.name %> e <%= @player2.name %> foi denúnciada.
    </p>
  </body>
</html>
