<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><b>Vai arregar</b>, <%= @sender.name %>?</h1>
    <b>Essa é uma escolha definitiva!</b>
    <p>
      Você <%= @result %> uma partida contra <%= @reciever.name %>
    </p>
    <p>
      Se quiser desistir desse resultado, confirme clicando no link: <%= @url %>
    </p>
    <p>Obrigado e tanha um bom dia!</p>
  </body>
</html>
