<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><b>Give up of match result</b> at CodePong, <%= @sender.name %></h1>
    <b>THIS ACTION CAN NOT BE UNDONE!</b>
    <p>
      You have <%= @result %> a match against <%= @reciever.name %>
    </p>
    <p>
      Please, confirm that you want to give up of the result through the link: <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>