<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Give up of match result at CodePong, <%= @sender.name %></h1>
    <p>
      You have <%= @result %> a match against <%= @reciever.name %>
    </p>
    <p>
      Please, confirm thatyou want to give up of the result trhought the link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>