#app-header,
#app-nav,
#app-footer,
.content {
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
}

// header

#app-header {
  h1 {
    margin: 10px;
  }

  img { width: 100%; }
}

// nav

#app-nav { 
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  overflow: hidden;

  .btn {
    padding: 5px 10px;
    font-size: 12px;
  }

  .btn-primary {
    float: right;
  }

  .btn-info {
    margin-right: 5px;
    float: left;
  }

  .nav-tabs {
    list-style: none;

    a {
      text-decoration: none;
      font-size: 12px;
    }
  }
}

// content 

.content {
  text-align: center;
}

// footer 

#app-footer {
  text-align: center;
}
